@font-face{
	font-family:HelveBold;
	src: url('../fonts/HelveBold.ttf');
}

body{
	margin:0;
}

h1{
	font-family:HelveBold;
	font-size:52px;
	
	text-align:center;
	margin-top:30px;
	margin-bottom:10px;
}

/* Main Part */
#data{
	margin-left:20px;
	margin-top:10px;
	margin-bottom:20px;
	width:93.5%;
	height:auto;
	float:left;
	z-index:-1;
}

/* Tool Panel */
#tool_panel{
	width:100%;
}

/* Search Box */
#search{
	font-size:20px;
	width:350px;
	margin-left:80px;
}

/* Sorting */
#sorting{
	font-size:18px;
	margin-left:400px;
}

/* Info */
.plant{
	width:190px;
	height:190px;
	margin-top:20px;
	margin-left:55px;
	float:left;
	
	background-color:brown;
	/* border:1px solid; */
	/* border-color:#F1EDED; */
}

.plant img{
	width:100%;
	height:100%;
	object-fit:cover;
}

/*Button*/
#button{
	width:90%;
	height:auto;
	float:right;
}

#button img{
	float:right;
	margin-right:10px;
	width:20px;
}