@font-face{
	font-family: HelveBold;
	src: url('../fonts/HelveBold.ttf');
}

body{
	width:100%;
	height:100%;
	margin:0;
}

#logo{
	position:absolute;
	
	width:120px;
	height:auto;
	left:2%;
	top:2%;
	
	z-index:2;
}

/* Transition */


/*Appearance*/
.screen{
	width:100%;
	height:100%;
	position:absolute;
	display:none;
}

.show{
	display:block;
}

/* Screen 1 */
.background{
	width:100%;
	height:100%;
}

.background img{
	width:100%;
	height:100%;
	object-fit:cover;
	z-index:-1;
}

#welcome{
	position:absolute;
	left:17%;
	top:240px;
}

.button{
	width:100%;
	height:100%;
	position:absolute;
	z-index:0;
}

.button img{
	width:100%;
	object-fit:cover;
}

#GetStartedBtn{
	width:220px;
	height:60px;
	position:absolute;
	
	left:230px;
	top:450px;
	z-index:0;
	
	opacity:0.8;
}

#SignUpBtn{
	width:130px;
	height:50px;
	position:absolute;
	top:0.75em;
	
	right:170px;
	float:left;
}

#SignInBtn{
	width:130px;
	height:50px;
	position:absolute;
	top:0.75em;
	right:35px;
	float:left;
}

#GetStartedBtn a{
	font-family:HelveBold;
	font-size:30px;
	color:white;
	text-decoration:none;
	
	position:absolute;
	margin-top:6px;
	margin-left:28px;
	
	z-index:1;
}

#SignUpBtn a{
	font-family:HelveBold;
	font-size:22px;
	color:white;
	text-decoration:none;
	
	position:absolute;
	margin-top:7px;
	margin-left:25px;
	
	z-index:1;
}

#SignInBtn a{
	font-family:HelveBold;
	font-size:22px;
	color:#2FA86A;
	text-decoration:none;
	
	position:absolute;
	margin-top:7px;
	margin-left:25px;
	z-index:1;
}


/* Screen 2 */