body{
	margin:0;
}

/* Panel */
#panel{
	background-color:#C4C4C4;
	width:80px;
	height:500px;
	/* opacity:0.5; */
	
	position: relative;
	float:left;
	margin-top:2em;
	margin-left:-70;
	
	z-index:1;
}

@keyframes mymove{
  from {left: 0px;}
  to {left: 70px;}
}

#panel:hover{
	animation: mymove 1.5s;
	animation-fill-mode: both;
}

.icon{
	width:60px;
	height:60px;
	margin:9px;
	border-radius:50%;
}

.icon img{
	width:100%;
	height:100%;
	object-fit:cover;
}

/* Main Part */
#collection{
	margin-left:20px;
	margin-top:10px;
	width:93.5%;
	height:590px;
	float:left;
	z-index:-1;
}

.plant{
	width:190px;
	height:250px;
	margin-top:30px;
	margin-left:55px;
	float:left;
	
	background-color:brown;
	/* border:1px solid; */
	/* border-color:#F1EDED; */
}

.plant img{
	width:100%;
	height:100%;
	object-fit:cover;
}

/*Button*/
#button{
	width:100%;
	height:30;
	float:right;
}

#button img{
	float:right;
	margin-right:10px;
	width:20px;
}