body{
	margin:0;
}

/* Panel */
#panel{
	width:80px;
	height:100%;
	
	position: relative;
	float:left;
	margin-left:-70;
	
	z-index:1;
}

@keyframes mymove{
  from {left: 0px;}
  to {left: 70px;}
}

#panel:hover{
	animation: mymove 1.5s;
	animation-fill-mode: both;
}

.icon{
	width:60px;
	height:60px;
	background-color:white;
	border-radius:50%;
	
	margin:9px;
	text-align:center;
	
}

.icon img{
	width:100%;
	height:100%;
	border-radius:50%;
	object-fit:cover;
	
	display:inline-block;
    margin-top:2px;
}

/* Main Part */
#collection{
	margin-left:20px;
	margin-top:10px;
	margin-bottom:20px;
	
	width:93.5%;
	height:auto;
	float:left;
	z-index:-1;
}

@keyframes select{
	from{
		margin-top:0px;
		margin-left:0px;
	}
	to{
		margin-top:10px;
		margin-left:10px;
	}
}

.plant{
	width:190px;
	height:250px;
	margin-top:30px;
	margin-left:55px;
	float:left;
	
	background-color:brown;
	border:1px solid;
	border-color:#F1EDED;
}

.plant img:hover{
	animation:select 0.5s;
	animation-fill-mode:both;
}

.plant img{
	width:100%;
	height:100%;
	object-fit:cover;
}

/*Button*/
#button{
	width:90%;
	height:30;
	float:right;
}

#button img{
	float:right;
	margin-right:10px;
	width:20px;
}

/* Feedback icon */
#feedback_icon{
	width:70px;
	opacity:0.5;
	position:absolute;
	bottom:30px;
	right:30px;
}

#feedback_icon:hover{
	cursor:pointer;
	opacity:1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 7% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align:center;
}

.modal-content h2{
	margin-top:2px;
	margin-bottom:10px;
}

.modal-content textarea{
	resize:none;
	font-size:18px;
}

.modal-content button{
	margin-top:20px;
	width:100px;
	font-size:22px;
	font-weight:bold;
	font-family:'Darker Grotesque', sans-serif;
	background-color:white;
	border:1px solid #6b7478;	
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}