@font-face{
	font-family: Abel;
	src: url('../fonts/VL_AbelPro.ttf');
}

body{
	margin:0;
}

#logo{
	position:absolute;
	
	width:120px;
	height:auto;
	left:2%;
	top:2%;
}

.background{
	width:100%;
	height:100%;
	opacity:0.3;
}

.background img{
	width:100%;
	height:100%;
	object-fit:cover;
	
	z-index:-1;
}

#welcome{
	position:absolute;
	left:14%;
	top:32%;
}

#signup{
	width:250px;
	height:auto;
	
	position:absolute;
	top:59%;
	left:18vw;
}

#register{
	width:290px;
	height:auto;
	position:absolute;
	top:15vh;
	left:64vw;
}

#terms{
	width:100%;
	text-align: center;
	font-size:25px;
	margin-bottom:15px;
}

#terms div{
	font-family:Abel;
	font-size:25px;
}

#terms a{
	text-decoration:none;
	font-family:Abel;
}

#SignUpBtn{
	width:130px;
	height:50px;
	
	position:absolute;
	margin-left:28%;
}

#SignUpBtn a{
	font-family:Abel;
	font-size:26px;
	color:white;
	text-decoration:none;
	
	position:absolute;
	margin-top:10px;
	margin-left:32px;
	
	z-index:1;
}