body{
	margin:0;
}

#logo{
	position:absolute;
	
	width:120px;
	height:auto;
	left:2%;
	top:2%;
}

.background{
	width:100%;
	height:100%;
	opacity:0.3;
}

.background img{
	width:100%;
	height:100%;
	object-fit:cover;
	
	z-index:-1;
}

#welcome{
	position:absolute;
	left:14%;
	top:32%;
}

#signup{
	width:250px;
	height:auto;
	
	position:absolute;
	top:59%;
	left:18vw;
}

#register{
	width:290px;
	height:auto;
	position:absolute;
	top:15vh;
	left:64vw;
}

#terms{
	width:100%;
	text-align: center;
	font-size:20px;
	margin-bottom:15px;
}

#terms div{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}

#terms a{
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#SignUpBtn{
	width:110px;
	height:50px;
	
	position:relative;
	margin-left:28%;
	opacity:0.9;
}

#SignUpBtn:hover{
	opacity:1;
}

#SignUpBtn a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:white;
	text-decoration:none;
	
	position:absolute;
	margin-top:11px;
	margin-left:29px;
	z-index:1;
}