body{
	margin:0;
	/* width:100%; */
	/* height:700px; */
	font-family:'ABeeZee', sans-serif;
}

/* Image */
#photo{
	width:300px;
	height:400px;
	
	float:left;
	margin-top:100px;
	margin-left:180px;
}

#photo img{
	width:100%;
	height:100%;
	object-fit:cover;
}

/* Info Box */
#info{
	width:650px;
	height:550px;
	font-size:30px;

	float:left;
	margin-left:50px;
	margin-top:30px;
	
	z-index:-1;
}

#common_name{
	font-size:50px;
	
	text-align:center;
	margin-top:50px;
	margin-bottom:30px;
}

.feature{
	color:#6A6A6A;
	width:100%;
	float:left;
	margin-bottom:20px;
}

.feature_names{
	color:black;
	font-size:30px;
	
	float:left;
	margin-right:10px;
}

#down_arrow{
	width:70px;
	position:absolute;
	bottom:20px;
	left:650px;
}