<!DOCTYPE html>
<html>
<head>
	<title>Reset Password</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<link href="css/resetpass.css" rel="stylesheet">
	<link href="css/loader.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form2" ).submit(function(event) {

				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/forgetpass',
					data: $('#form2').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form2')[0].reset();
						//alert("abc");
						document.getElementById("check").innerHTML=response.Success;

						setTimeout(function(){
							document.getElementById("check").innerHTML="";
						},3000);
						if (response.Success=="Password changed!") {
							document.getElementById("aa").click();
						};
					},
					error: function() {
					}
				})
			});

		});
	</script>
</head>
<body>
	<div id="loader"></div>

	<div id="content">
		<a href="index.html"><img src="images/logo.png" id="logo" style="z-index:1"></a>

		<img src="images/Background.png" class="background">

		<img src="images/Welcome02.png" id="welcome">

		<img src="images/ResetPass.png" id="reset">

		<div id="ResetZone">
			<form id="form2" method="post">
				<div class="row">
					<div class="form-group">
						<label for="usr">Email:</label>
						<input type="text" name="email" placeholder="E-mail" required="" class="form-control" id="usr">
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label for="pwd">Password:</label>
						<input type="password" name="password" placeholder="Password" required="" class="form-control" id="pwd">
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label for="cfpwd">Confirm password:</label>
						<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control" id="cfpwd">
					</div>
				</div>

				<input type="submit" value="Change" class="btn btn-success">

				<!-- <div id="ConfirmBtn">
					<a href="/forgetpass">Confirm</a>
					<img src="images/SignUp.png">
				</div> -->
			</form>
		</div>

				<!-- <form id="form2" method="post">
					<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
					<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
					<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
					<input type="submit" value="Change" class="btn btn-success">
				</form> -->
			<div  class="mssg bg-danger">
				<span id="check"></span>
			</div>
			<div id="LangTable"><a href="/login" id="aa"></a>
			</div>
	</div>
			<script src="javascript/loader.js"></script>

</body>
</html>
