<!DOCTYPE html>
<html>
	<head>
		<title>GreenUs</title>
		<link href="css/index.css" rel="stylesheet">
		<link href="css/loader.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>

	<body>
		<div id="loader"></div>

		<div id="content">
			<a href="index.html"><img src="images/logo.png" id="logo"></a>

			<img src="images/Background.png" class="background">
			<img src="images/Welcome01.png" id="welcome">

			<div id="GetStartedBtn">
				<a href="collection.html">Get Started</a>
				<img src="images/GetStarted.png" class="button">
			</div>

			<div id="SignUpBtn">
				<a href="/register">Sign Up</a>
				<img src="images/SignUp.png" class="button">
			</div>

			<div id="SignInBtn">
				<a href="/login">Sign In</a>
			</div>

		</div>

	<script src="javascript/loader.js"></script>
	</body>
</html>
