<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/signin.css">
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/loader.css">

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		});
	</script>
</head>
<body>
	<div id="loader"></div>

	<div id="content">
		<a href="/"><img src="images/logo.png" id="logo" style="z-index:1"></a>

		<img src="images/Background.png" class="background">

		<img src="images/Welcome02.png" id="welcome">

		<div id="SignUpZone">
			<img src="images/NotHaveAcc.png" id="signup">
			<div id="SignUpBtn">
				<a href="/register" id="txtSignUp">Sign Up</a>
				<img src="images/SignUp.png">
			</div>
		</div>

		<div id="login">
			<form id="form" method="post">
				<div class="row">
					<label for="usr">Email:</label>
					<div class="form-group">
						<input type="text" name="email" placeholder="E-mail" required="" class="form-control" id="usr">
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label for="pwd">Password:</label>
						<input type="password" name="password" placeholder="Password" required="" class="form-control" id="pwd">
					</div>
				</div>

				<input type="submit" value="Login" class="button imgcenter">

			</form>

			<div id="forgot"><a href="/forgetpass">Forgot your password?</a></div>

			<!-- <div id="SignInBtn">
				<a href="main_page.html" id="txtSignIn">Sign In</a>
				<img src="images/SignUp.png">
			</div> -->
		</div>
	</div>

	<script src="javascript/loader.js"></script>
	<div class="mssg bg-danger">
		<span id="check" ></span>
	</div>
	<div id="LangTable"><a href="/profile" id="aa"></a>
	</div>
	</div>
</body>
</html>
