body{
	margin:0;
}

#logo{
	position:absolute;

	width:120px;
	height:auto;
	left:2%;
	top:2%;
}


.button {
	height:40px;
	background-color:#45ad80;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	/* padding:16px 32px; */
	margin: 4px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
	background-color:#26a66d;
	text-decoration: none;
	color:#ffffff;
}
.button:active {
	position:relative;
	top:1px;
}

.imgcenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.background{
	width:100%;
	height:100vh;
	opacity:0.3;
}

.background img{
	/* width:100%; */
	height:100%;
	object-fit:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index:-1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Left */
#welcome{
	position:absolute;
	left:14vw;
	top:32%;
}

#SignUpZone{
	width:250px;
	height:130px;
	position:absolute;
	bottom:120px;
	left:18vw;
}

#signup{
	width:250px;
	height:auto;

	position:absolute;
}

#SignUpBtn{
	width:130px;
	height:50px;
	position:absolute;
	top:0px;
	left:60px;
	opacity:0.8;
}

#SignUpBtn:hover{
	opacity:1;
}

#SignupBtn a{
	font-family:Helvetica, Arial, sans-serif;
	font-size:22px;
	color:white;
	text-decoration:none;

	position:absolute;
	top:11px;
	margin-left:32px;

	z-index:1;
}

/* Right */
#login{
	width:220px;
	height:auto;

	position:absolute;
	top:30vh;
	left:67vw;
}

#forgot{
	font-family:Helvetica, Arial, sans-serif;
	font-size:20px;
	color: white;
	text-align:center;
}

#forgot a{
	text-decoration:none;
}

#SignInBtn{
	width:130px;
	height:50px;

	position:absolute;
	margin-top:20px;
	margin-left:19%;
	opacity:0.8;
}

#SignInBtn:hover{
	opacity:1;
}

#SigninBtn a{
	font-family:Helvetica, Arial, sans-serif;
	font-size:22px;
	color:white;
	text-decoration:none;
	text-align:center;

	position:absolute;
	top:11px;
	margin-left:36px;

	z-index:1;
}
